<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.haokuo.wenyanoa">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <application
        android:name=".application.OaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e7e5b595cb904c584220dbd10ba99220"/>
        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContactDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.MyWalletActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.OrderFoodActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.AttendanceClockActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.StaffDestinationActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.approval.ApprovalActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.approval.LeaveApprovalDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.approval.TripApprovalDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.approval.ChangeShiftApprovalDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.approval.BuyItemsApprovalDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.approval.RepairApprovalDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.approval.ApplyItemsApprovalDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.NewsActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.ModifyPasswordActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.MyAttendanceActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.ManagerOrderActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.matters.RepairActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.matters.ApplyItemsActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.matters.PurchaseItemsActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.matters.TripActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.matters.LeaveActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.matters.ChangeShiftActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.matters.MattersApplyActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.matters.SelectCcActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.NewsDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.DestinationDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.DocFlowActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>